---
layout: default.njk
title: Blog Home
---
<article class="h-entry">
<h1 class="text-2xl md:text-3xl lg:text-4xl font-bold p-name">{{title}}</h1>
<div class="mb-5 italic text-gray-500">
  <time class="dt-published">{{ page.date | asPostDate }}</time>
</div>

<div class="prose prose-a:no-underline hover:prose-a:underline max-w-none">
  {{ content | safe }}
</div>
</article>

{% if tags %}
  Tags:
  {% for tag in tags | removeMetaTags %}
    <li>
      <a href="/blog/tags#{{ tag }}">{{ tag}}</a>
    </li>
  {% endfor %}
{% endif %}

{% set posts = collections.allBlogPosts %}
{% set nextPost = posts | getNextCollectionItem(page) %}
{% set previousPost = posts | getPreviousCollectionItem(page) %}
{% if nextPost or previousPost %}
  <hr>
  <ul>
    {% if nextPost %}
      <li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </li>
    {% endif %}
    {% if previousPost %}
      <li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </li>
    {% endif %}
  </ul>
{% endif %}
