---
title: tjaddison.com
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/site.css">
    <title>{{ title }} {{ "| tjaddison.com" if title !== "tjaddison.com" }}</title>
    
    {% if shareimage %}
      <meta property="og:image" content="{% shareImageUri shareimage %}">
    {% else %}
      <!-- i dont have a share image - TODO: default share image? -->
    {% endif %}

    <!-- Indieweb -->
    <link href="https://twitter.com/tjaddison" rel="me" />
    <link rel="webmention" href="https://webmention.io/tjaddison.com/webmention" />
    <link rel="pingback" href="https://webmention.io/tjaddison.com/xmlrpc" />
    <!-- end Indieweb -->
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>