---
layout: default.njk
title: tjaddison.com | Blog
---
{{ title }}

{{ content | safe }}

{% if tags %}
Tags:
{% for tag in tags %}
  <li><a href="/blog/tags#{{ tag }}">{{ tag}}</a></li>
{% endfor %}
{% endif %}