---
title: Page not found
permalink: 404.html
layout: default.njk
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold mb-6 text-center">Not Found</h1>
    <p>
      That page doesn't exist.  Try starting at the <a class="font-semibold" href="/">home page</a>, or browsing the <a class="font-semibold" href="/blog">blog archive</a>.
    </p>
    <p class="mt-4">
      If you think this is an error, please reach out to me <a class="font-semibold"href="mailto:blog@tjaddison.com">via email</a>.
    </p>
  </body>
</html>
