---
title: "About Me"
layout: default.njk
---
Currently working at <a href="https://www.stubhub.com" target="_blank">StubHub</a> (I'm hiring!) and located variously in NYC or London.

Lurker on <a href="https://twitter.com/tjaddison" target="_blank">Twitter</a>.  Definitely will not be found posing as a thought leader on <a href="https://www.linkedin.com/in/tjaddison/" target="_blank">LinkedIn</a>.