---
title: "Blog"
layout: default.njk
---

Blog

A mostly technical blog that covers everything from the frontend to making SQL Server go fast. Recent posts are shown below. You can also browse posts by tag, view the whole archive, or subscribe to the RSS feed.

{% for item in collections.allBlogPosts %}
  <li>
    <a href="{{ item.url }}">
      {{ item.data.title }}
      {{ item.date | asPostDate }}
    </a>
  </li>
{% endfor %}