---
title: "Blog Archive"
layout: default.njk
permalink: "/blog/archive/"
---

<h1 class="text-3xl font-bold mb-6 text-center">Blog Archive</h1>

The whole blog is now available on the <a href="/blog" class="font-semibold">main blog page</a>.
