---
title: "Home"
layout: default.njk
---
<div class="text-4xl font-bold mb-4">Hey there! 👋</div>

<p class="text-xl">I <a class="font-semibold" href="/blog">write a blog</a> on mostly engineering topics (ranging from SQL Server to Gatsby), and occasionally publish <a class="font-semibold" href="/blog/tags#Links">link roundups</a> of stuff I find interesting. You can also read a little more <a class="font-semibold" href="/about">about me</a>, or see what I'm up to on <a class="font-semibold" href="https://www.github.com/taddison" target="_blank">GitHub</a>.</p>

<div class="text-xl italic ml-4 mt-4">- Tim</div>