@tailwind base;
@tailwind components;
@tailwind utilities;

/* Inter variable font */
/* CSS taken from https://rsms.me/inter/inter.css */

/* https://github.com/rsms/inter/blob/master/docs/font-files/Inter-roman.var.woff2 */
@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
  font-named-instance: "Regular";
}

/* https://github.com/rsms/inter/blob/master/docs/font-files/Inter-italic.var.woff2 */
@font-face {
  font-family: "Inter var";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
  font-named-instance: "Italic";
}
/* END Inter variable font */

@layer base {
  a:hover {
    @apply underline text-accent-3;
  }
}
